body {
  background: #fff;
  color: #000;
  padding: 0;
  margin: 0;
}

html, body, #map {
  height: 100%;
  width: 100%
}

#map-title {
  position: absolute;
  z-index: 34159;
  pointer-events: none;
  top: 20px;
  left: 50px;
}

#map-title img {
  float: left;
}

#map-title h2 {
  float: both;
  margin-left: 60px;
  margin-top: 5px;
  color: #555;
}

/* Buttons and location text box */
#group {
  z-index: 34159;
  position: absolute;
  top: 75px;
  left: 55px;
  float: left;
}

/*
#new {
  z-index: 34159;
  position: absolute;
  top: 75px;
  left: 55px;
  float: left;
}

#geolocate {
  z-index: 34159;
  position: absolute;
  top: 75px;
  left: 105px;
  float: left;
}

#export {
  z-index: 34159;
  position: absolute;
  top: 75px;
  left: 155px;
  float: left;
}
*/

#location-text-area {
  z-index: 34159;
  position: absolute;
  top: 135px;
  left: 55px;
}

#delete {
  z-index: 34159;
  position: absolute;
  top: 75px;
  right: 55px;
  float: left;
}

#status-window {
  z-index: 34159;
  position: absolute;
  top: 75px;
  left: 555px;
  height: 45px;
  width: 255px;
  background: rgba(255, 255, 255, 0.85);
  text-align: center;
  padding: 12px;
  border-radius: 7px;
}


/* Swipe styles */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

#position {
  list-style: none;
}

#position li {
display: inline-block;
width: 10px;
height: 10px;
border-radius: 10px;
background: #141414;
box-shadow: inset 0 1px 3px black,0 0 1px 1px #202020;
margin: 0 2px;
cursor: pointer;
}

#position li.on {
box-shadow: inset 0 1px 3px -1px #28b4ea,0 1px 2px rgba(0,0,0,.5);
background-color: #1293dc;
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#1293dc),color-stop(100%,#0f6297));
background-image: -webkit-linear-gradient(top,#1293dc,#0f6297);
background-image: -moz-linear-gradient(top,#1293dc,#0f6297);
background-image: -ms-linear-gradient(top,#1293dc,#0f6297);
background-image: -o-linear-gradient(top,#1293dc,#0f6297);
background-image: linear-gradient(top,#1293dc,#0f6297);
}

.gap-top {
  margin-top: 15px;
}

.gap-top-l {
  margin-top: 35px;
}

.gap-bottom-xl {
  margin-bottom: 65px;
}
