[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  background: #fff;
  color: #000;
  padding: 0;
  margin: 0;
}

html, body, #map {
  height: 100%;
  width: 100%
}

/* Buttons and location text box */
#group {
  z-index: 34159;
  position: absolute;
  top: 10px;
  left: 50px;
  float: left;
}

#location-text-area {
  z-index: 34159;
  position: absolute;
  top: 55px;
  left: 50px;
}

@media (min-width: 641px) {
  #location-text-area textarea {
    width: 470px;
  }
}
@media (max-width: 640px) {
  #location-text-area textarea {
    width: 234px;
  }
}

#delete {
  z-index: 34159;
  position: absolute;
  top: 10px;
  left: 280px;
  float: left;
}

#layers {
  z-index: 34158;
  position: absolute;
  top: 15px;
  right: 15px;
  float: left;
}

#status-window {
  z-index: 34159;
  position: absolute;
  top: 55px;
  left: 50px;
  height: 90px;
  width: 275px;
  background: rgba(245, 245, 245, 0.85);
  border: 1px solid rgba(200, 200, 200, 0.85);
  text-align: center;
  padding: 12px;
  border-radius: 7px;
}

#map-info {
  z-index: 34159;
  position: absolute;
  top: 10px;
  right: 60px;
  width: 355px;
  background: rgba(255, 255, 255, 0.85);
  padding: 12px;
  border-radius: 7px;
}

#map-info p {
  line-height: 25px;
  padding-top: 7px;
}

/* Swipe styles */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

#position {
  list-style: none;
}

#position li {
display: inline-block;
width: 10px;
height: 10px;
border-radius: 10px;
background: #141414;
box-shadow: inset 0 1px 3px black,0 0 1px 1px #202020;
margin: 0 2px;
cursor: pointer;
}

#position li.on {
box-shadow: inset 0 1px 3px -1px #28b4ea,0 1px 2px rgba(0,0,0,.5);
background-color: #1293dc;
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#1293dc),color-stop(100%,#0f6297));
background-image: -webkit-linear-gradient(top,#1293dc,#0f6297);
background-image: -moz-linear-gradient(top,#1293dc,#0f6297);
background-image: -ms-linear-gradient(top,#1293dc,#0f6297);
background-image: -o-linear-gradient(top,#1293dc,#0f6297);
background-image: linear-gradient(top,#1293dc,#0f6297);
}

.gap-top {
  margin-top: 15px;
}

.gap-top-l {
  margin-top: 35px;
}

.gap-bottom-xl {
  margin-bottom: 65px;
}

.lighter {
  color: #999;
}

.help-icon {
  margin-right: 7px;
}
