<!DOCTYPE html>
<html ng-app="parismetromap">

<head>
  <meta charset="UTF-8">
  <title>Paris Metro Map</title>
  <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/font-awesome-4.3.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="vendor/leaflet-0.7.2/leaflet.css" />
  <link rel="stylesheet" href="vendor/leaflet-0.7.2/leaflet.awesomemarkers/leaflet.awesome-markers.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="AppCtrl">

  <div id="group" class="btn-group">
    <div class="btn btn-default" id="info" type="button" ng-click="toggleInfo()" ngm-tap="toggleInfo()">
      <i class="fa fa-question fa-lg"></i>
    </div>

    <div class="btn btn-default" id="geolocate" ng-click="getLocation()" ngm-tap="getLocation()">
      <i class="fa fa-location-arrow fa-lg"></i>
    </div>

    <div class="btn btn-default" id="export" ng-click="exportPoints()" ngm-tap="exportPoints()">
      <i class="fa fa-share-square-o fa-lg"></i>
    </div>

    <div class="btn btn-success" id="new" type="button" ng-click="createNewLocation()" ng-disabled="showControls" ngm-tap="createNewLocation()">
      <i class="fa fa-plus fa-lg"></i>
    </div>
  </div>

  <button id="delete" class="btn btn-danger" type="button" ng-cloak ng-if="deleteButtonVisible" ng-click="deleteLocation()" ngm-tap="deleteLocation()">
    <span class="glyphicon glyphicon-trash"></span>
  </button>

  <div id="location-text-area" ng-cloak ng-if="showControls">
    <textarea rows="6" ng-model="newLocation.properties.text" placeholder="Description"></textarea>
    <div>
      <div class="btn btn-danger" ng-click="cancel()" ngm-tap="cancel()" style="display:inline-block; width: 234px;">Cancel</div>
      <div class="btn btn-info" ng-click="saveLocation()" ngm-tap="saveLocation()" style="display:inline-block; width: 234px; padding-right: 4px;">Save</div>
    </div>
  </div>

  <div id="status-window" ng-cloak ng-if="statusText" ng-click="dismissNotification()" ngm-tap="dismissNotification()">
    <p>{{statusText}}</p>
    <small class="lighter">tap to dismiss</small>
  </div>

  <div id="map-info" ng-cloak ng-if="showInfo" ng-click="toggleInfo()" ngm-tap="toggleInfo()">
    <h3>Paris Metro Map</h3>
    <p><span class="help-icon"><i class="fa fa-location-arrow"></i></span> Tap the geolocate button to show your location on the map.</p>
    <p><span class="help-icon"><i class="fa fa-share-square-o"></i></span> Tap export to save your points to the app's export directory. You can download the points by copying the DICE export directory using <a href="http://support.apple.com/en-us/HT201301">iOS file sharing</a></p>
    <p><span class="help-icon"><i class="fa fa-plus"></i></span>  Tap to create a new point. By default new points will be placed at your location, or if you haven't geolocated yourself a new maker will be added to the center of the map. You can drag the marker to change its location before saving.</p>
    <p><span class="help-icon"><i class="fa fa-question"></i></span> Tap to show or dismiss this help window.</p>
    <p><small>Data used to create this map comes from openstreetmap.org and mapcruzin.com</small></p>
    <small class="lighter">tap to dismiss</small>
  </div>

  <div id="map">
    <div leaflet new-location="newLocation" locations="locations" lat="lat" lon="lon" center="center" show-controls="showControls" delete-button-visible="deleteButtonVisible" active-location="activeLocation" did-geolocate="didGeolocate" status-text="statusText"></div>
  </div>

  <script src="vendor/angular.js"></script>
  <script src="vendor/leaflet-0.7.2/leaflet.js"></script>
  <script src="vendor/leaflet-0.7.2/leaflet.awesomemarkers/leaflet.awesome-markers.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/leaflet-directive.js"></script>
</body>
</html>
